# Runtime
APP_MODE=local
APP_STAGE=dev
APP_REGION=ap-southeast-2
AWS_REGION=ap-southeast-2

# Notion
NOTION_TOKEN=replace_with_notion_internal_integration_token

# Google OAuth
GOOGLE_CLIENT_ID=replace_with_google_oauth_client_id
GOOGLE_CLIENT_SECRET=replace_with_google_oauth_client_secret
GOOGLE_REFRESH_TOKEN=replace_with_google_refresh_token
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token

# Optional. If empty, code can use default scopes.
# GOOGLE_SCOPES=https://www.googleapis.com/auth/calendar.events,https://www.googleapis.com/auth/calendar.calendarlist.readonly,openid,https://www.googleapis.com/auth/userinfo.profile,https://www.googleapis.com/auth/userinfo.email
