.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: black;
    font-size: 24px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  select {
    width: 150px;
    padding: 5px;
  }
  
  .save-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }